@model DO_AN_1.Models.Blog
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<main id="main" class="main">
    <div class="pagetitle">
        <h2>Xác nhận sửa Blog</h2>
    </div>
    <div class="container shadow p-5">
        <div class="row pb-2">
            <h2>Sửa Blog</h2>
        </div>
    </div>
    <form method="post" asp-action="Edit">
        <div asp-validation-summary="All"></div>
        <div class="form-row">
            <input type="hidden" class="form-control mb-3" asp-for="Id">
            <div class="form-group col-md-6">
                <label asp-for="Title">Title</label>
                <input type="text" class="form-control mb-3" asp-for="Title">
                <span class="alert-danger" asp-validation-for="Title"></span>
            </div>
        </div>
        <div class="form-group col-md-12">
            <label asp-for="Content">Content</label>
            <textarea asp-for="Content" class="form-control"></textarea>
        </div>
       @* <div class="form-group col-md-6">
            <label asp-for="Content">Content</label>
            <select class="form-select" asp-for="Content" id="PostOrder">
                <option value="1">1</option>
                <option value="2">2</option>
            </select>
        </div>*@
        <@*div class="form-group col-md-6">
            <div class="alert-danger" asp-validation-summary="ModelOnly"></div>
            <label asp-for="Link">Link</label>
            <select class="form-control" asp-for="Link" asp-items="@(new SelectList(ViewBag.mlist, "Value", "Text"))">
            </select>
        </div>*@
         <div class="form-group col-md-12">
            <label asp-for="Image">Image</label>
            <textarea asp-for="Image" class="form-control"></textarea>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="Category">Category</label>
            <input type="text" class="form-control mb-3" asp-for="Category">
            <span class="alert-danger" asp-validation-for="Category"></span>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="View">View</label>
            <input type="text" class="form-control mb-3" asp-for="View">
            <span class="alert-danger" asp-validation-for="View"></span>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="Status">Status</label>
            <input type="text" class="form-control mb-3" asp-for="Status">
            <span class="alert-danger" asp-validation-for="Status"></span>
        </div>

        <div class="form-group mt-5 mb-5">
            <label>
                @Html.CheckBox("IsActive", Model.IsActive)
                Hiển thị
            </label>
        </div>
        <button type="submit" class="btn btn-primary p-2">Sửa</button>
        <a asp-controller="Blog" asp-action="Index" class="btn btn-lg btn-warning p-2">Quay lại</a>
    </form>
</main>

