@using DO_AN_1.Models;
@using DO_AN_1.Utilities;
@model IList<Blog>

<div class="row">
   @foreach (var item in Model)
       {
    string url = Functions.TitleslugGeneration("blog", item.Title, item.Id);
    <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="blog__item">
            <div class="blog__item__pic">
                <img src="@item.Image" alt="">
            </div>
            <div class="blog__item__text">
                <ul>
                    <li><i class="fa fa-calendar-o"></i>@item.CreatedAt</li>
                    <li><i class="fa fa-comment-o"></i> 5</li>
                </ul>
                <h5><a href="#">@item.Title</a></h5>
                <p>
                    @item.Content
                </p>
                <a href="/@url" class="blog__btn">Đọc Thêm<span class="arrow_right"></span></a>
            </div>
        </div>
    </div>
    }
   @* <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="blog__item">
            <div class="blog__item__pic">
                <img src="../img/blog/blog-3.jpg" alt="">
            </div>
            <div class="blog__item__text">
                <ul>
                    <li><i class="fa fa-calendar-o"></i> May 4,2019</li>
                    <li><i class="fa fa-comment-o"></i> 5</li>
                </ul>
                <h5><a href="#">Visit the clean farm in the US</a></h5>
                <p>
                    Sed quia non numquam modi tempora indunt ut labore et dolore magnam aliquam
                    quaerat
                </p>
                <a href="#" class="blog__btn">READ MORE <span class="arrow_right"></span></a>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="blog__item">
            <div class="blog__item__pic">
                <img src="../img/blog/blog-1.jpg" alt="">
            </div>
            <div class="blog__item__text">
                <ul>
                    <li><i class="fa fa-calendar-o"></i> May 4,2019</li>
                    <li><i class="fa fa-comment-o"></i> 5</li>
                </ul>
                <h5><a href="#">Cooking tips make cooking simple</a></h5>
                <p>
                    Sed quia non numquam modi tempora indunt ut labore et dolore magnam aliquam
                    quaerat
                </p>
                <a href="#" class="blog__btn">READ MORE <span class="arrow_right"></span></a>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="blog__item">
            <div class="blog__item__pic">
                <img src="../img/blog/blog-4.jpg" alt="">
            </div>
            <div class="blog__item__text">
                <ul>
                    <li><i class="fa fa-calendar-o"></i> May 4,2019</li>
                    <li><i class="fa fa-comment-o"></i> 5</li>
                </ul>
                <h5><a href="#">Cooking tips make cooking simple</a></h5>
                <p>
                    Sed quia non numquam modi tempora indunt ut labore et dolore magnam aliquam
                    quaerat
                </p>
                <a href="#" class="blog__btn">READ MORE <span class="arrow_right"></span></a>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="blog__item">
            <div class="blog__item__pic">
                <img src="../img/blog/blog-4.jpg" alt="">
            </div>
            <div class="blog__item__text">
                <ul>
                    <li><i class="fa fa-calendar-o"></i> May 4,2019</li>
                    <li><i class="fa fa-comment-o"></i> 5</li>
                </ul>
                <h5><a href="#">The Moment You Need To Remove Garlic From The Menu</a></h5>
                <p>
                    Sed quia non numquam modi tempora indunt ut labore et dolore magnam aliquam
                    quaerat
                </p>
                <a href="#" class="blog__btn">READ MORE <span class="arrow_right"></span></a>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="blog__item">
            <div class="blog__item__pic">
                <img src="../img/blog/blog-6.jpg" alt="">
            </div>
            <div class="blog__item__text">
                <ul>
                    <li><i class="fa fa-calendar-o"></i> May 4,2019</li>
                    <li><i class="fa fa-comment-o"></i> 5</li>
                </ul>
                <h5><a href="#">Cooking tips make cooking simple</a></h5>
                <p>
                    Sed quia non numquam modi tempora indunt ut labore et dolore magnam aliquam
                    quaerat
                </p>
                <a href="#" class="blog__btn">READ MORE <span class="arrow_right"></span></a>
            </div>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="product__pagination blog__pagination">
            <a href="#">1</a>
            <a href="#">2</a>
            <a href="#">3</a>
            <a href="#"><i class="fa fa-long-arrow-right"></i></a>
        </div>
    </div>*@
</div>
