@using DO_AN_1.Models;
@model IList<Collection>

<div class="sidebar__item">
    <h4>Bộ Sưu Tập</h4>
    @foreach (var item in Model)
    {
        <ul>
            <li><a href="#">@item.Name</a></li>
           @* <li><a href="#">Vegetables</a></li>
            <li><a href="#">Fruit & Nut Gifts</a></li>
            <li><a href="#">Fresh Berries</a></li>
            <li><a href="#">Ocean Foods</a></li>
            <li><a href="#">Butter & Eggs</a></li>
            <li><a href="#">Fastfood</a></li>
            <li><a href="#">Fresh Onion</a></li>
            <li><a href="#">Papayaya & Crisps</a></li>
            <li><a href="#">Oatmeal</a></li>*@
        </ul>
    }
</div>