@using DO_AN_1.Models;
@using DO_AN_1.Utilities;
@model IList<products>

<div class="row featured__filter">
      @foreach (var item in Model)
            {
        string url = Functions.TitleslugGeneration("products", item.name, item.id);
    <div class="col-lg-3 col-md-4 col-sm-6 mix @item.Class">
        <div class="featured__item">
            <div class="featured__item__pic set-bg" data-setbg="@item.image">
                <ul class="featured__item__pic__hover">
                        <li><a href="/@url"><i class="fa fa-heart"></i></a></li>
                        <li><a href="/@url"><i class="fa fa-retweet"></i></a></li>
                    <li><a href="/@url"><i class="fa fa-shopping-cart"></i></a></li>
                </ul>
            </div>
            <div class="featured__item__text">
                <h6><a href="#">@item.name</a></h6>
                    <h5>@item.price.Value.ToString("#,##0")</h5>
            </div>
        </div>
    </div>
    }
</div>
