@using DO_AN_1.Models;

@model IList<Categori>

<section class="categories">
    <div class="container">
        <div class="row">
            <div class="categories__slider owl-carousel">
                @foreach(var item in Model)
                {
                    <div class="col-lg-3">
                        <div class="categories__item set-bg" data-setbg="@item.Images">
                            <h5><a href="#">@item.name</a></h5>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>